body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#231E23;

}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #344fa1;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.5rem;
  color: #344fa1;
  font-weight: bold;
padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  color:#3d84b8;
}
p{
  line-height: 2;
}
anchor-tag{
  color: #3d84b8;
}

div {

}
hr{
  border: dotted #00ead3 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
a{
  color:#3F3697;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bolder;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #f0ebcc;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #D8E3E7;
}

.intro{
  width: 30%;
  margin: auto;
}
.skill-row{
width:50%;
margin:100px auto;
text-align: left;

}



.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #3D84B8;
padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
  width: 200px;
  height: 100px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #f0ebcc;
  font-size: .75rem;
  padding: 20px 0;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  width: 200px;
  height: 100px;
}
.centered-cloud{
  right: 400px;
  bottom:150px;
}

.me {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.HTML{
  width: 25%;
  float: left;
  margin-right: 30px;

}

.css{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.JS{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.btn {
   background: #3D84B8;
   background-image: -webkit-linear-gradient(top, #3D84B8, #344FA1);
   background-image: -moz-linear-gradient(top, #3D84B8, #344FA1);
   background-image: -ms-linear-gradient(top, #3D84B8, #344FA1);
   background-image: -o-linear-gradient(top, #3D84B8, #344FA1);
   background-image: -webkit-gradient(to bottom, #3D84B8, #344FA1);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
  font-family: 'Montserrat Alternates', sans-serif;
   width: 159px;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #3D84B8 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #3D84B8 1px;
   background: #344FA1;
   background-image: -webkit-linear-gradient(top, #3D84B8, #344FA1);
   background-image: -moz-linear-gradient(top, #3D84B8, #344FA1);
   background-image: -ms-linear-gradient(top, #3D84B8, #344FA1);
   background-image: -o-linear-gradient(top, #3D84B8, #344FA1);
   background-image: -webkit-gradient(to bottom, #3D84B8, #344FA1);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
